PORT=PORT_WHERE_YOU_WANT_TO_RUN_THE_NODE_SERVER
DATABASE_URL=postgresql://<user>:<password>@<host>:<port>/<database>
BETTER_AUTH_SECRET=GENERATE_FROM_BETTER_AUTH
BETTER_AUTH_URL=BASE_URL_OF_YOUR_APP
GOOGLE_CLIENT_ID=GENERATED_FROM_GOOGLE_CLOUD
GOOGLE_CLIENT_SECRET=GENERATED_FROM_GOOGLE_CLOUD